{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

  <h1>Create a new Qwikipedia Page:</h1>

  <p>Use the form below to create a new Qwikipedia Page.</p>
  <p>Please note that Qwikipedia uses <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown</a> to style its pages, which is converted to HTML when entries are requested by a user.</p>

  <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    {{ create_form }}
    <input type="submit" value="Submit">
  </form>

{% endblock %}